@import "../base/variables";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-md);
  transition: background-color var(--transition-fast);
  cursor: pointer;
  font-weight: 500;
}

.button--primary {
  background-color: var(--color-primary);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-primary-hover);
  }
}

.button--outline {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);

  &:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-white);
  }
}

.button--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button--circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.add-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: background-color var(--transition-fast);
  cursor: pointer;
  font-weight: 500;
  background-color: var(--color-primary);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-primary-hover);
  }

  position: absolute;
  bottom: 32px;
  right: 8px;
}

.undo-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-md);
  transition: background-color var(--transition-fast);
  cursor: pointer;
  font-weight: 500;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-primary-hover);
  }

  position: absolute;
  bottom: 100px;
  right: 8px;
  width: 123px;
  padding: 6px 3px;
  gap: 8px;
  display: none;
}
