@import "../base/variables";

.modal {
  position: fixed;
  inset: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px;

  &__main {
    position: absolute;
    top: 118px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    background-color: var(--color-white);
    border-radius: 16px;
    padding: 18px 30px;

    &.dark {
      color: var(--color-white);
      background-color: var(--color-dark);
      border: 1px solid var(--color-white);
    }
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
    text-align: center;
  }

  &__input {
    width: 100%;
    padding: 5px 16px;
    border-radius: 5px;
    border: 1px solid var(--color-primary);
    margin-bottom: 128px;

    &.dark {
      border: 1px solid var(--color-white);
    }

    &::placeholder {
      font-family: var(--font-alt);
      color: var(--color-placeholder);
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    &-cancel,
    &-apply {
      padding: 5px 22px;
      font-weight: 500;
      font-size: 18px;
      border-radius: 5px;
      border: 1px solid var(--color-primary);
      color: var(--color-primary);
      cursor: pointer;
      transition: all var(--transition-fast);
    }

    &-apply {
      background-color: var(--color-primary);
      color: var(--color-white);

      &:hover {
        background-color: var(--color-primary-hover);
      }
    }

    &-cancel:hover {
      background-color: var(--color-primary-hover);
      color: var(--color-white);
    }
  }
}
