@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* variables */
:root {
  --primary-color: #6c63ff;
  --white: #f7f7f7;
  --hover-primary-color: #5850dd;
}

body {
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
}

.container.dark {
  background-color: #252525;
  color: var(--white);
}

.container.modal-open {
  background-color: #252525b2;
}

.wrapper {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 40px;
  text-align: center;
}

/* header section */
.title {
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 18px;
}

.controls {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 30px;
}

.controls__theme-toggle {
  width: 40px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--primary-color);
  transition: background-color 0.2s ease-in;
}

.controls__theme-toggle:hover {
  background-color: var(--hover-primary-color);
}

.controls__search {
  flex-grow: 1;
  height: 38px;
  padding: 0 40px 0 16px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  color: var(--primary-color);
  background: url("./../assets/icons/search-icon.svg") no-repeat right 8.5px
    center;
}

.controls__search.dark {
  color: var(--white);
  border: 1px solid var(--white);
  background: url("./../assets/icons/dark-search-icon.svg") no-repeat right
    8.5px center;
}

.controls__filter {
  height: 38px;
  outline: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--white);
  cursor: pointer;
  transition: all 0.2s ease-in;
  font-size: 16px;
}

.controls__filter:hover {
  background-color: var(--hover-primary-color);
}

.controls__search::placeholder,
.modal__input::placeholder {
  font-family: "Inter";
  color: #c3c1e5;
}

.empty-text {
  margin-top: 20px;
  font-size: 20px;
}

.add-button {
  position: absolute;
  bottom: 32px;
  right: 8px;
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 50%;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in;
}

.add-button:hover {
  background-color: var(--hover-primary-color);
}

.undo-button {
  position: absolute;
  bottom: 100px;
  right: 8px;
  width: 123px;
  display: none;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(var(--primary-color), 0.7);
  background-color: var(--hover-primary-color);
  border-radius: 4px;
  padding: 6px 3px;
  color: var(--white);
  gap: 8px;
  transition: background-color 0.2s ease-in;
}

.undo-button:hover {
  background-color: var(--primary-color);
}

/* timer */
.timer-container {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-circle {
  position: absolute;
  width: 30px;
  height: 30px;
  transform: rotate(-90deg);
}

.timer-circle circle {
  animation: countdown 3s linear forwards;
  stroke: var(--white);
  stroke-width: 2;
  fill: none;
  stroke-dasharray: 63;
  stroke-dashoffset: 63;
}

.timer {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  color: var(--white);
  z-index: 1;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 63;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/* modal */
.modal {
  position: fixed;
  inset: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px;
}

.modal__main {
  position: absolute;
  top: 118px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  background-color: var(--white);
  border-radius: 16px;
  padding: 18px 30px;
}

.modal__main.dark {
  color: var(--white);
  background-color: rgba(37, 37, 37, 1);
  border: 1px solid var(--white);
}

.modal__title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 25px;
  text-align: center;
}

.modal__input {
  width: 100%;
  padding: 5px 16px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  margin-bottom: 128px;
}

.modal__input.dark {
  border: 1px solid var(--white);
}

.modal__buttons {
  display: flex;
  justify-content: space-between;
}

.modal__buttons-cancel,
.modal__buttons-apply {
  padding: 5px 22px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.2s linear;
}

.modal__buttons-apply {
  background-color: var(--primary-color);
  color: var(--white);
}

.modal__buttons-cancel:hover {
  background-color: var(--hover-primary-color);
  color: var(--white);
}

.modal__buttons-apply:hover {
  background-color: var(--hover-primary-color);
}

/* main section (empty section (img and text) and tasks list section */
.tasks-section__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tasks-section__list {
  display: none;
}

.tasks-section__list-item {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

.list-item__buttons {
  margin-left: auto;
  transition: opacity 0.2s ease;
}

.tasks-section__list-item {
  border-bottom: 1px solid var(--primary-color);
  padding-top: 10px;
  padding-bottom: 10px;
}

.tasks-section__list-item:first-child {
  border-top: none;
}

.tasks-section__list-item:last-child {
  border-bottom: none;
}

.list-item__text {
  flex: 1;
  border: none;
  margin-right: 20px;
  border: 1px solid transparent;
  padding-left: 10px;
}

.list-item__text:focus {
  border: 1px solid var(--primary-color);
  border-radius: 6px;
}

.container.dark .real-checkbox:checked ~ .list-item__text {
  color: rgba(255, 255, 255, 0.5);
}
/* hover effect on edit button */
@keyframes changeFill {
  from {
    fill: #cdcdcd;
  }
  to {
    fill: var(--primary-color);
  }
}
/* hover effect on delete button */
@keyframes changeStroke {
  from {
    stroke: #cdcdcd;
  }
  to {
    stroke: red;
  }
}

.tasks-section__list-item:has(.real-checkbox:checked) .list-item__buttons {
  display: none;
}

.delete-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.list-item__checkbox {
  width: 26px;
  height: 26px;
  border-radius: 2px;
  border: 1px solid var(--primary-color);
  margin-right: 7px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.list-item__checkbox::before {
  content: "✔";
  font-size: 20px;
  color: var(--white);
  display: none;
}
/* styles for todo item if its done (checked) */
.list-item__checkbox:checked {
  background-color: var(--primary-color);
}

.done .list-item__text {
  text-decoration: line-through;
  color: #c3c1e5;
}

.done .list-item__checkbox {
  background-color: var(--primary-color);
}

.done .list-item__checkbox::before {
  display: inline;
}

input[type="checkbox"] {
  display: none;
}

/* Media queries */

@media (min-width: 1024px) {
  .list-item__buttons {
    opacity: 0;
  }

  .tasks-section__list-item:hover .list-item__buttons {
    opacity: 1;
  }

  .edit-button:hover svg {
    animation: changeFill 0.2s ease-in forwards;
  }

  .delete-button:hover svg path {
    animation: changeStroke 0.2s ease-in forwards;
  }
}

@media (max-width: 510px) {
  .modal__main {
    width: 90%;
  }
  .controls {
    flex-direction: column;
  }
  .controls__search {
    width: 90%;
  }
  .controls__filter {
    position: relative;
    width: 90%;
  }
  .controls__theme-toggle {
    position: fixed;
    right: 20px;
    top: 20px;
  }
}

@media (max-width: 350px) {
  .list-item {
    flex-direction: column;
  }
  .list-item__buttons {
    margin: 0 auto;
  }
  .list-item__text {
    margin: 5px 0;
  }
}
